<div class="new">
    <div class="new__content">
        <p class="new__info">
            <span class="new__info--title">Bitcoin Cash</span> <span class="new__info--date"> 2 days ago</span>
        </p>
        <p class="title__new"><a href="">Steps In Installing Rack Mount Lcd Monitors</a></p>
    </div>
</div>
