<div class="wrapper">
	<div class="filter__event wrapper">
		<div class="row">
			<div class="col-6">
				<p class="text__left">Where we’ll be next</p>
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-4">
						<h3>MONTH</h3>
						<p><i class="fas fa-arrow-circle-left"></i>Octobe <i class="fas fa-arrow-circle-right"></i></p>
					</div>
					<div class="col-4">
						<h3>location</h3>
						<div class="box__filter--location">
							<select class="filter__location" data-placeholder="City or country..." name="location" onchange="active_location()" >
								<option></option>
							  	<option value="AL">City</option>
							  	<option value="WY">Country</option>
							</select>
						</div>
					</div>
					<div class="col-4">
						<h3>Event type</h3>
						<div class="box__filter--type">
							<select class="filter__type" data-placeholder="Meetup, talk..." name="type">
							  	<option></option>
							  	<option value="AL">Alabama</option>
							  	<option value="WY">Wyoming</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
 	function active_location(){
 		$(".box__filter--location .filter__event .select2-selection.select2-selection--single").css("border", "1px solid #aaa");
 	}
</script>