<div class="wrapper">
	<div class="row">
		<div class="latest-new-left col-9">	
			<div class="lable">	
				<p>Latest News</p>
			</div>
			<div class="row">
				<div class="item col-4">	
					<div class="image">	
						<a href=""><img class="cg__radius" src="{{img_url}}item-home.jpg"></a>
					</div>
					<div class="bitcoin-title">
						<span class="title">Bitcoin Cash</span> <span class="date"> 2 days ago</span>
					</div>
					<p class="title__new">Steps In Installing Rack Mount Lcd Monitors</p>
					<p class="description">A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These handy little devices allow individuals to retrieve…</p>
				</div>
					<div class="item col-4">	
					<div class="image">	
						<a href=""><img class="cg__radius" src="{{img_url}}item-home.jpg"></a>
					</div>
					<div class="bitcoin-title">
						<span class="title">Bitcoin Cash</span> <span class="date"> 2 days ago</span>
					</div>
					<p class="title__new">Steps In Installing Rack Mount Lcd Monitors</p>
					<p class="description">A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These handy little devices allow individuals to retrieve…</p>
				</div>
					<div class="item col-4">	
					<div class="image">	
						<a href=""><img class="cg__radius" src="{{img_url}}item-home.jpg"></a>
					</div>
					<div class="bitcoin-title">
						<span class="title">Bitcoin Cash</span> <span class="date"> 2 days ago</span>
					</div>
					<p class="title__new">Steps In Installing Rack Mount Lcd Monitors</p>
					<p class="description">A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These handy little devices allow individuals to retrieve…</p>
				</div>
			</div>

		</div>
		<div class="latest-new-right col-3">	
			<div class="include-rigister cg__radius">
				<p class="title"><span>CG</span> week</p>
				<p class="description">Coingeek Week
					Conference</p>
				<p class="date">London - May 2019</p>
				<div class="button-discover">
					<a href="#">Discover Coingeek Week</a>
				</div>
				<div class="button-register now">
					<a href="#">Pre-Register now</a>
				</div>
			</div>
		</div>
	</div>
</div>
