<div class="latest-new-left">	
	<div class="lable">	
		<p>Latest News</p>
	</div>
	<div class="item">	
		<div class="image">	
			<a href=""><img src=""></a>
		</div>
		<p>Bitcoin Cash</p><span class="date">2 days ago</span>
		<p class="title">Steps In Installing Rack Mount Lcd Monitors</p>
		<p class="description">A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These handy little devices allow individuals to retrieve…</p>
	</div>
</div>
<div class="latest-new-right">	

</div>