<div class="wrapper">
	<div class="block__mask cg__radius">
		<div class="include__mask">
			<div class="logo_mask">
				<span>CG</span>
			</div>
			<div class="title__left">
				<p>Coingeek Invests</p>
				<p>Fintech Venture Capital</p>
			</div>
			<div class="main__title">
				<span>The Fintech Venture</span>
			</div>
			<div class="title__right">
				<p>Discover our portfolio,</p>
				<p>our values and our vision</p>
			</div>
			<div class="icon">
				<a href=""><i class="fas fa-arrow-right"></i></a>
			</div>
		</div>
	</div>
</div>
