<div class="col-{{ col }}">
    <div class="metting__item">
        <h2>
            cg sessions mining 2018
        </h2>
        <p class="metting__date">Oct 3</p>
        <p class="metting__place">London, UK</p>
    </div>
</div>