<div class="col-{{ col }}">
	<div class="new">
		<div class="image cg__radius">
			<img src="{{img_url}}item-home.jpg">
		</div>
		<div class="new__content">
			<p class="new__info">
				<span class="new__info--title">Bitcoin Cash</span> <span class="new__info--date"> 2 days ago</span>
			</p>
			<p class="title__new">Steps In Installing Rack Mount Lcd Monitors</p>
			<p class="description">A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These handy little devices allow individuals to retrieve…</p>
		</div>
		<a href=""></a>
	</div>
</div>


