<div class="item col-4">
	<div class="image">
		<a href=""><img class="cg__radius" src="{{img_url}}item-home.jpg"></a>
	</div>
	<p>
		<span class="bitcoin-title">Bitcoin Cash</span> <span class="bitcoin-date"> 2 days ago</span>
	<p>
	<p class="title__new">Steps In Installing Rack Mount Lcd Monitors</p>
	<p class="description">A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These handy little devices allow individuals to retrieve…</p>
</div>


