<div class="wrapper">
    <div class="slider">
        <div class="slider__wrapper">
            <div class="slider__item">
                <div class="slider__item--content cg__radius">
                    <h2 class="title__new">Maintain Your Pc’s Performance With Pc Programs</h2>
                    Airbnb  wants to give the homeowners who power its service the opportunity to own a piece of its business. That’s why, as Axios reports, the $31-billion-valued company has written to the SEC to ask if its rules around security ownership can be revised…
                </div>
                <div class="slider__item--image">
                    <img src="assets/images/image-test.jpg" alt="">
                </div>
            </div>
        </div>


        <div class="slider__wrapper">
            <div class="slider__item">
                <div class="slider__item--content cg__radius">
                    <h2 class="title__new">Maintain Your Pc’s Performance With Pc Programs</h2>
                    Airbnb  wants to give the homeowners who power its service the opportunity to own a piece of its business. That’s why, as Axios reports, the $31-billion-valued company has written to the SEC to ask if its rules around security ownership can be revised…
                </div>
                <div class="slider__item--image">
                    <img src="assets/images/image-test.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="slider__wrapper">
            <div class="slider__item">
                <div class="slider__item--content cg__radius">
                    <h2 class="title__new">Maintain Your Pc’s Performance With Pc Programs</h2>
                    Airbnb  wants to give the homeowners who power its service the opportunity to own a piece of its business. That’s why, as Axios reports, the $31-billion-valued company has written to the SEC to ask if its rules around security ownership can be revised…
                </div>
                <div class="slider__item--image">
                    <img src="assets/images/image-test.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>