<div class="wrapper include__sugget--event">
	<div class="row">
		<div class="col-6">
			<h2 class="title__suggest">Get your event here</h2>
			<p class="description">Vestibulum mollis ex vitae erat mattis rutrum. Donec id lobortis felis. Fusce volutpat aliquet lorem, vitae vehicula sapien iaculis non. Phasellus interdum lectus ut magna tempus, ac tristique mi aliquam.</p>
		</div>
		<div class="col-6">
			<div class="botton">
				<a href="#">Suggest an event</a>
			</div>
		</div>
	</div>
</div>