<div class="header__menu">
    <ul>
        <li class="news">
            <a href="">news</a>
            <ul class="sub__menu">
                <li>
                    <a href="">News</a>
                </li>
                <li>
                    <a href="">News</a>
                </li>
            </ul>
        </li>
        <li class="conferences">
            <a href="">Conferences</a>
            <ul class="sub__menu">
                <li>
                    <a href="">News</a>
                </li>
                <li>
                    <a href="">News</a>
                </li>
            </ul>
        </li>
        <li class="hardware">
            <a href="">Hardware</a>
        </li>
        <li class="investments">
            <a href="">Investments</a>
        </li>
        <li class="mining">
            <a href="">Mining</a>
        </li>
        <li class="businees__solutions">
            <a href="">Business Solutions</a>
        </li>
    </ul>
</div>