<div class="footer__home">
    <div class="wrapper">
        <div class="row">
            <div class="col-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit dui in quam luctus scelerisque. Pellentesque tristique felis ut arcu pellentesque sollicitudin.</p>
            </div>
            <div class="col-4">
                <div class="footer__list--menu">
                    <div class="list">
                        <h3>News</h3>
                        <ul>
                            <li><a href="">Business</a></li>
                            <li><a href="">Editorial</a></li>
                            <li><a href="">Technology</a></li>
                            <li><a href="">Interviews</a></li>
                            <li><a href="">Videos</a></li>
                        </ul>
                    </div>
                    <div class="list">
                        <h3>Events</h3>
                        <ul>
                            <li><a href="">All events</a></li>
                        </ul>
                    </div>
                    <div class="list">
                        <h3>BCH Guide</h3>
                        <ul>
                            <li><a href="">Bitcoin ATM locator</a></li>
                            <li><a href="">Merchant list</a></li>
                            <li><a href="">Exchanges & wallet</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="footer__social">
                    <p>Follow us</p>
                    <ul>
                        <li>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer__newsletters">
                    <h3>Sign up for newsletters</h3>
                    <form action="">
                        <input type="text" placeholder="Enter your email address">
                        <input type="submit" value="subscribe" class="cg__news">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>