<div class="header__search">
    <form action="">
        <input type="text" placeholder="Type your search...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>
<div class="header__social">
    <ul>
        <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
            <a href=""><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href=""><i class="fab fa-youtube"></i></a>
        </li>
    </ul>
</div>