<div class="header__social">
    <ul>
        <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
            <a href=""><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href=""><i class="fab fa-youtube"></i></a>
        </li>
    </ul>
</div>