.header{
  &__menu{
    width: calc(100% - 85px);
    &>ul{
      &>li{
        display: inline-block;
        padding-bottom: 15px;
        a{
          font-size: 10px;
          font-weight: 300;
          letter-spacing: 1px;
          line-height: 13px;
          text-align: center;
          text-transform: uppercase;
          position: relative;
          padding:0 10px;
          margin:0 10px;
          &:before{
            content:"";
            height:4px;
            position: absolute;
            margin:0 auto;
            bottom:-17px;
            left:0;
          }
        }
        &.news{
          &:hover{
            a{
              &:before {
                @include cg__news;
              }
            }
          }
        }
        &.conferences{
          &:hover{
            a{
              &:before {
                @include cg__week;
              }
            }
          }
        }
        &.hardware{
          &:hover{
            a{
              &:before {
                background: $white;
              }
            }
          }
        }
        &.investments{
          &:hover{
            a{
              &:before {
                @include cg__invests;
              }
            }
          }
        }
        &.mining{
          &:hover{
            a{
              &:before{
                @include cg__mining;
              }
            }
          }
        }
        &.businees__solutions{
          &:hover{
            a::before{
              @include cg__business;
            }
          }
        }
        &:hover {
          a{
            font-weight: 600;
            &:before {
              width: 100%;
            }
          }
          .sub__menu {
            display: block;
          }
        }
      }
    }
    .sub__menu{
      position: absolute;
      left: 0;
      width: 100%;
      background: #fff;
      bottom: -40px;
      display: none;
      border-radius: 0 10px 0 10px;
      li{
        display: inline-block;
        padding:10px 0;
        a{
          color:$textcolor-1;
        }
      }
    }
  }
}