.header{
  &__menu{
    width: calc(100% - 85px - 220px);
    &>ul{
      padding-left: 60px;
      &>li{
        display: inline-block;
        padding-bottom: 15px;
        a{
          font-size: 10px;
          font-weight: 300;
          letter-spacing: 1px;
          line-height: 13px;
          text-align: center;
          text-transform: uppercase;
          position: relative;
          padding:0 10px;
          margin:0 10px;
          &:before{
            content:"";
            height:4px;
            position: absolute;
            margin:0 auto;
            bottom:-17px;
            left:0;
          }
        }
        &.news{
          &:hover{
            &>a{
              &:before {
                @include cg__news;
              }
            }
          }
        }
        &.conferences{
          &:hover{
            &>a{
              &:before {
                @include cg__week;
              }
            }
          }
        }
        &.hardware{
          &:hover{
            &>a{
              &:before {
                background: $white;
              }
            }
          }
        }
        &.investments{
          &:hover{
            &>a{
              &:before {
                @include cg__invests;
              }
            }
          }
        }
        &.mining{
          &:hover{
            &>a{
              &:before{
                @include cg__mining;
              }
            }
          }
        }
        &.businees__solutions{
          &:hover{
            a::before{
              @include cg__business;
            }
          }
        }
        &:hover {
          a{
            font-weight: 600;
            &:before {
              width: 100%;
            }
          }
          &>ul {
            display: block;
          }
        }
        &>ul{
          position: absolute;
          left: 0;
          width: 100%;
          background: #fff;
          bottom: -40px;
          display: none;
          padding-left: 30px;
          @include cg__radius;
          &>li{
            display: inline-block;
            padding:10px 0;
            position: relative;
            &>a{
              color:$textcolor-1;
              &:before{
                content:"";
                height:2px;
                position: absolute;
                margin:0 auto;
                bottom:-12px;
                left:0;
              }
            }
            ul{
              position: absolute;
              width: 280px;
              color: $dark;
              top: 40px;
              border-top: 10px solid transparent;
              display: none;
              padding-left: 0;
              @include cg__radius;
              li{
                display: block;
                padding:15px;
                background: $white;
                transition: background .5s ease;
                padding-left: 0;
                &:hover{
                  @include cg__news;
                  a{
                    color: $white;
                  }
                }
                &:first-child{
                  border-top-right-radius: 10px;
                }
                &:last-child{
                  border-bottom-left-radius: 10px;
                }
              }
            }
            &:hover{
              &>a{
                &:before{
                  background: $dark;
                }
              }
              ul{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}