<div class="latest__news">
    <div class="latest__news--left">
        <h2 class="title__section">lastest news</h2>
        <div class="latest__news--container">

        </div>
    </div>
    <div class="latest__news--right">

    </div>
</div>