body {
  font-family: $font-1; //Default font family
  color: $textcolor-1; //Default text color
  letter-spacing: normal; //Default letter spacing
  font-size: 13px;
  font-weight: 200;
  line-height: 20px;
}