@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://use.fontawesome.com/releases/v5.4.2/css/all.css');
.clearfix {
  @include clearfix;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: $desktop-medium + 1) {
    max-width: $desktop-medium - 60;
  }
  @media screen and (max-width: $desktop-medium) {
    padding: 0 30px;
  }
  @media screen and (max-width: $tablet-medium) {
    padding: 0 15px;
  }
}

#main-content {
  position: relative;
  background: $bg-main;
  padding-top: 50px;
}

.cg__radius{
  @include cg__radius;
}

.cg__week{
  @include cg__week;
}

.cg__hardware{
  @include cg__hardware;
}

.cg__news{
  @include cg__news;
}

.cg__business{
  @include cg__business;
}

.cg__mining{
  @include cg__mining;
}

.cg__invests{
  @include cg__invests;
}

.title__section{
  color: $textcolor-1;
  font-size: 14px;
  letter-spacing: 0.88px;
  line-height: 18px;
  text-transform: uppercase;
}

.title__new{
  color: $textcolor-1;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;
  text-transform: uppercase;
}

.white{
  background: $white;
}

[class*='col-'] {
  width: 100%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  // margin-bottom: $value-1;
  @include clearfix;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $mobile-large) {
    float: left;

    &:last-child {
      // margin-bottom: $value-1;
    }
  }

}

.row{
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  @include clearfix;
}

@for $i from 1 through 12 {
  .col-always-#{$i} {
    width: 100% / 12 * $i;
  }
}

@media screen and (min-width: $mobile-large) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      width: 100% / 12 * $i;
    }
  }
}

@media screen and (min-width: $mobile-large) {
  @for $i from 1 through 12 {
    .col-offset-#{$i} {
      margin-left: 100% / 12 * $i;
    }
  }
}

@media screen and (min-width: $mobile-large) {
  @for $i from 1 through 12 {
    .grid-col-#{$i} {
      width: 100% / 12 * $i;
    }
  }
}

@media screen and (min-width: $tablet-large) {
  @for $i from 1 through 12 {
    .grid-col-offset-#{$i} {
      margin-left: 100% / 12 * $i;
    }
  }
}
